.btn{
  display: inline-block;
  min-width: 64px;
  height: 34px;
  padding: 0 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 34px;
  box-sizing: border-box;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;

  &:disabled {
    color: #ccc;
    background: #fffce5;
    cursor: not-allowed;
  }
  &-primary {
    color: #4c4c4c;
    background: #ffdd00;
    &:hover {
      background: #e5c700;
    }
  }
  &-secondary {
    color: #fff;
    background: #4c4c4c;
    &:hover {
      background: #6d6d6d;
    }
  }
}
