.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .16);
  &-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    min-height: 100px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background: #fff;
  }
  &-header {
    &-title {
      display: block;
      font-size: 16px;
      text-align: center;
    }
  }
  &-body {
    &-desc {
      padding: 20px 0;
      font-size: 16px;
      color: #333;
      text-align: center;
      word-break: break-all;
    }
  }
  &-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
